* {
   color: white;
   font-size: 16pt;
   swing-halign: center;
}
#group1 {
   background-color: #303030;
   border-color: white;
   border-width: 3;
}
#group2 {
   background-color: #C0C0C0;
   border-color: red;
   border-width: 3;
}
jbutton {
   font-weight: bold;
   background-color: #777777;
   color: black;
}
jlabel { font-style: italic; }
.active { color: red; }
